@using Quizard.WebApp.Services
@inject GameService GameService
@inject ILogger<QuestionScreen> Logger

<div class="col-12 position-relative">
        <div class="row m-5 text-start">
            <div class="col-1 shop-col">
                @foreach (var item in GameService.ShopStock)
                {
                    <div class="row">
                        <div class="col">
                            <h5>@item.Quantity</h5>
                        </div>
                    </div>
                }
            </div>
            <div class="col-5 shop-col">
                @foreach (var item in GameService.ShopStock)
                {
                    <div class="row">
                        <div class="col">
                            @if (GameService.CurrentShopItem.Name == item.Name)
                            {
                                <h4>@item.Name >></h4>
                            }
                            else
                            {
                                <h5>@item.Name</h5>
                            }
                        </div>
                    </div>
                }
            </div>
            <div class="col-5">
                <div class="row">
                    <div class="col p-4 shop-info position-relative">
                        <div class="row pb-0">
                            <div class="col shop-info-header">Цена @(GameService.CurrentShopItem.CostMultiplier * GameService.Scenario!.BasePointPrice)</div>
                        </div>
                        <div class="row mb-5">
                            <div class="col shop-info-header">@GameService.CurrentShopItem.Name:</div>
                        </div>
                        <div class="row shop-item-info-col">
                            <div class="col text-break">
                                @GameService.CurrentShopItem.Description
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="row position-absolute bottom-0 end-0 me-4 shop-buttons">
                                    <div class="col-auto mb-0">
                                        <p>Применить</p>
                                        <p>ОТМЕНА</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>

@code {
    
}